.item1 { grid-area: header; }
.item2 { grid-area: left;}
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: main; }
.item6 { grid-area: footer; }
.grid-container {
  display:grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}


12% 76% 12%

breakpoint
.container{
  border: 2px solid blue;
}

.row{
  border: 3px solid red;
}

.col-1{
  border: 2px solid black;
  /* background-color: aquamarine; */
}









<div class="col-xs-1 col-sm-6 col-lg-4 col-xl-3 col-xxl-6">1
                <img src="flower1.jpg" alt="" width="100px">
                <p><b style="font-size: x-large;">Nature</b></p>
                <p><i>To plant a garden is to believe in tomorrow</i></p>
            </div>
            <div class="col-12 col-xs-1 col-sm-6 col-lg-4 col-xl-3 col-xxl-6">2 
                <img src="flower1.jpg" alt="" width="100px">
                <p><b style="font-size: x-large;">Nature</b></p>
                <p><i>To plant a garden is to believe in tomorrow</i></p>
            </div>
            <div class="col-12 col-xs-1 col-sm-2 col-lg-3 col-xl-4 col-xxl-6">3
                <img src="flower1.jpg" alt="" width="100px">
                <p><b style="font-size: x-large;">Nature</b></p>
                <p><i>To plant a garden is to believe in tomorrow</i></p>
            </div>
            <div class="col-12 col-xs-1 col-sm-2 col-lg-3 col-xl-4 col-xxl-6">4
                <img src="flower1.jpg" alt="" width="100px">
                <p><b style="font-size: x-large;">Nature</b></p>
                <p><i>To plant a garden is to believe in tomorrow</i></p>
            </div>
            <div class="col-12 col-xs-1 col-sm-2 col-lg-3 col-xl-4 col-xxl-6">5
                <img src="flower1.jpg" alt="" width="100px">
                <p><b style="font-size: x-large;">Nature</b></p>
                <p><i>To plant a garden is to believe in tomorrow</i></p>
            </div>
            <div class="col-12 col-xs-1 col-sm-2 col-lg-3 col-xl-4 col-xxl-6">6
                <img src="flower1.jpg" alt="" width="100px">
                <p><b style="font-size: x-large;">Nature</b></p>
                <p><i>To plant a garden is to believe in tomorrow</i></p>
            </div>
            <div class="col-12 col-xs-1 col-sm-2 col-lg-3 col-xl-4 col-xxl-6">7
                <img src="flower1.jpg" alt="" width="100px">
                <p><b style="font-size: x-large;">Nature</b></p>
                <p><i>To plant a garden is to believe in tomorrow</i></p>
            </div>
            <div class="col-12 col-xs-1 col-sm-2 col-lg-3 col-xl-4 col-xxl-6">8
                <img src="flower1.jpg" alt="" width="100px">
                <p><b style="font-size: x-large;">Nature</b></p>
                <p><i>To plant a garden is to believe in tomorrow</i></p>
            </div>
            <div class="col-12 col-xs-1 col-sm-2 col-lg-3 col-xl-4 col-xxl-6">9
                <img src="flower1.jpg" alt="" width="100px">
                <p><b style="font-size: x-large;">Nature</b></p>
                <p><i>To plant a garden is to believe in tomorrow</i></p>
            </div>
            <div class="col-12 col-xs-1 col-sm-2 col-lg-3 col-xl-4 col-xxl-6">10
                <img src="flower1.jpg" alt="" width="100px">
                <p><b style="font-size: x-large;">Nature</b></p>
                <p><i>To plant a garden is to believe in tomorrow</i></p>
            </div>
            <!-- <div class="col-1">11</div> -->
            <!-- <div class="col-1">12</div> -->
        </div>
    </div>
    
</body>
</html>



.col-1{
  margin: 10px;
}
.container{
  
}

new

<div class="container-fluid parent">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 child">1<img src="flower1.jpg" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 child">2<img src="flower1.jpg" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 child">3<img src="flower1.jpg" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 child">4<img src="flower1.jpg" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 child">5<img src="flower1.jpg" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 child">6<img src="flower1.jpg" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 child">7<img src="flower1.jpg" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 child">8<img src="flower1.jpg" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 child">9<img src="flower1.jpg" alt=""></div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 child">10<img src="flower1.jpg" alt=""></div>

         </div>
    </div>









